# Importing Data Using Pandas

## Introduction

We've already used Pandas to import data in previous lessons, but in this lesson we'll take a little longer to dive into what's actually going on.

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

## Loading Pandas

As usual, we import pandas under the standard alias pd

In [1]:
import pandas as pd

## Importing Data

There are a few main functions for importing data into a pandas DataFrame including:

* `pd.read_csv()`
* `pd.read_excel()`
* `pd.read_json()`
* `pd.DataFrame.from_dict()`

Most of these methods are fairly straightforward; you use `.read_csv()` for csv files, `.read_excel()` for excel files (both new and old .xlx and .xlsx) and `.read_json()` for json files. That said, there are a few nuances you should know about. The first is that the `.read_csv()` format can be used for any plain-text delimited file. This may include (but is not limited to) pipe (|) delimited files (.psv) and tab separated files (.tsv).

Let's look at an example by investigating a file, bp.txt, stored in the Data folder.

In [2]:
df = pd.read_csv('Data/bp.txt', delimiter='\t')
df.head()

   Pt   BP  Age  Weight   BSA  Dur  Pulse  Stress
0   1  105   47    85.4  1.75  5.1     63      33
1   2  115   49    94.2  2.10  3.8     70      14
2   3  116   49    95.3  1.98  8.2     72      10
3   4  117   50    94.7  2.01  5.8     73      99
4   5  112   51    89.4  1.89  7.0     72      95

This example shows that the data was tab delimited (\t), so an appropriate file extension could have also been .tsv. Once we've loaded the dataset, we can export it to any format we would like with the related methods:

* `df.to_csv()`
* `df.to_excel()`
* `df.to_json()`
* `df.to_dict()`

There are also several other options available, but these are the most common.

## Skipping and Limiting Rows

Another feature that you may have to employ is skipping rows when there is metadata stored at the top of a file. You can do this using the optional parameter `skiprows`. Similarly, if you want to only load a portion of a large file as an initial preview, you can use the `nrows` parameter.

In [12]:
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', nrows=100)
df

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD32,HD02_VD32,HD01_VD33,HD02_VD33,HD01_VD34,HD02_VD34,HD01_VD35,HD02_VD35,HD01_VD36,HD02_VD36
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business...","Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business...","Estimate; Total: - Management, business, scien...",...,"Estimate; Total: - Natural resources, construc...","Margin of Error; Total: - Natural resources, c...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor...","Estimate; Total: - Production, transportation,...","Margin of Error; Total: - Production, transpor..."
1,0500000US01001,01001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
2,0500000US01003,01003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
3,0500000US01005,01005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
4,0500000US01007,01007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
5,0500000US01009,01009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963
6,0500000US01011,01011,"Bullock County, Alabama",23998,3240,39091,7597,40934,2957,40404,...,7375,63922,25713,3352,23531,5706,31141,812,25380,6312
7,0500000US01013,01013,"Butler County, Alabama",27434,1994,42161,2426,42391,4933,42679,...,33750,10894,28325,3165,28052,5498,31875,8159,26534,1235
8,0500000US01015,01015,"Calhoun County, Alabama",28183,1501,41933,1225,50217,6332,51559,...,41326,3530,30350,1339,31070,1923,33767,4428,23595,4747
9,0500000US01017,01017,"Chambers County, Alabama",28218,1769,43218,2889,46612,6768,55750,...,39813,13914,27420,2418,29778,2885,32386,21812,22048,1658
10,0500000US01019,01019,"Cherokee County, Alabama",30360,1343,42276,4464,40775,2431,40262,...,41611,7769,30059,2637,32083,5888,29063,13421,19569,5858
11,0500000US01021,01021,"Chilton County, Alabama",30459,1455,44944,3858,53438,7824,58322,...,41016,5565,29127,3878,29690,6561,31379,11419,23924,1258
12,0500000US01023,01023,"Choctaw County, Alabama",31245,1907,42688,4531,61597,16257,63750,...,60313,36485,38869,8972,58155,12487,21797,8548,26000,6124
13,0500000US01025,01025,"Clarke County, Alabama",32238,2377,47327,4856,54398,18482,62250,...,66019,9401,37093,6350,46957,13002,33066,10081,29828,5436
14,0500000US01027,01027,"Clay County, Alabama",24936,1635,38817,7377,49028,10346,56581,...,41424,11519,24393,2408,24301,3094,26210,9909,23566,5360
15,0500000US01029,01029,"Cleburne County, Alabama",29499,2701,41642,3229,41905,15388,42440,...,40854,9316,32191,4700,35625,6136,31705,18424,26413,5856
16,0500000US01031,01031,"Coffee County, Alabama",28493,1552,46653,3981,44385,7916,37639,...,54101,4713,26929,1515,25255,5007,45264,11791,23923,2476
17,0500000US01033,01033,"Colbert County, Alabama",30681,1252,48007,2873,50107,8004,55211,...,45363,5031,30298,2695,31674,6220,36754,5109,25000,5584
18,0500000US01035,01035,"Conecuh County, Alabama",26789,2714,42313,7043,42188,12294,46250,...,52024,7420,32386,5403,32740,8101,39583,8458,30466,10012
19,0500000US01037,01037,"Coosa County, Alabama",26003,1950,49412,14179,52083,28660,50972,...,35938,29596,25724,3631,25668,3226,38250,9547,21993,4706
20,0500000US01039,01039,"Covington County, Alabama",28965,1815,45058,4659,51170,2942,52689,...,40540,3233,27273,2372,26703,2176,33750,7875,20132,7491
21,0500000US01041,01041,"Crenshaw County, Alabama",29167,1813,41935,2255,52717,5526,56964,...,36711,10260,28149,4053,30529,1775,30269,8524,12368,8547
22,0500000US01043,01043,"Cullman County, Alabama",30131,1298,41943,2283,48299,5531,50729,...,38929,5058,30362,3194,30209,5277,31637,4022,27987,4679
23,0500000US01045,01045,"Dale County, Alabama",27630,1604,41372,2008,41940,6939,39600,...,52066,6526,26701,2365,24359,2680,35935,2521,20036,5067
24,0500000US01047,01047,"Dallas County, Alabama",25007,1487,38495,4199,40804,8421,43558,...,44203,6408,21925,2048,22402,3558,22283,11633,18634,4654
25,0500000US01049,01049,"DeKalb County, Alabama",26303,731,44517,3139,46293,5760,47123,...,36817,3299,26144,1180,26344,1354,33144,7971,22083,1685
26,0500000US01051,01051,"Elmore County, Alabama",34683,1772,49731,2039,52093,3131,53085,...,40726,3369,33352,4358,38300,5918,36444,6589,24333,8322
27,0500000US01053,01053,"Escambia County, Alabama",27763,2425,41532,1395,47024,6458,42833,...,37833,19664,31124,1351,30794,3282,33413,9079,30321,10406
28,0500000US01055,01055,"Etowah County, Alabama",27740,1278,44688,2512,50773,3228,51616,...,37233,3078,27161,1888,27019,2520,38958,7464,23020,2782
29,0500000US01057,01057,"Fayette County, Alabama",30288,2425,42433,3317,55766,7111,56688,...,39911,14941,32424,5624,31088,7824,46333,15718,27083,8487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0500000US02020,02020,"Anchorage Municipality, Alaska",42694,1003,63475,1460,70367,2738,73498,...,50208,3722,39084,2905,35577,7324,45013,4130,29485,3829
71,0500000US02050,02050,"Bethel Census Area, Alaska",31454,1497,47902,6419,50324,10122,45972,...,50781,7751,26582,3316,21500,7626,34375,10258,12361,5525
72,0500000US02060,02060,"Bristol Bay Borough, Alaska",50302,4801,63625,5526,80000,13776,79375,...,78125,19099,55000,14623,69688,11399,50938,15868,48750,40342
73,0500000US02068,02068,"Denali Borough, Alaska",37348,10413,57333,16089,63240,10948,62959,...,65625,40647,56500,38403,93636,22953,22273,24709,82143,21310
74,0500000US02070,02070,"Dillingham Census Area, Alaska",37563,6032,51313,2631,69375,16997,62500,...,46250,23262,46563,22751,65398,43922,34250,24318,17500,12653
75,0500000US02090,02090,"Fairbanks North Star Borough, Alaska",41171,1185,53562,3228,66303,7620,72610,...,67127,4362,35837,6863,36742,13496,50084,12660,20516,8226
76,0500000US02100,02100,"Haines Borough, Alaska",30778,7802,57633,5230,61806,19034,51667,...,25469,47253,19211,104835,83505,40590,72583,28431,5682,13318
77,0500000US02105,02105,"Hoonah-Angoon Census Area, Alaska",32500,5469,49125,11998,50795,12745,51818,...,71111,62438,18125,12868,14712,23300,33125,29654,7000,5617
78,0500000US02110,02110,"Juneau City and Borough, Alaska",46911,2217,61875,2552,65989,2541,72468,...,52228,9304,32072,7408,30898,8378,40326,16723,24095,8781
79,0500000US02122,02122,"Kenai Peninsula Borough, Alaska",38985,2486,52710,4690,58963,6558,60799,...,53971,13454,40971,8777,34597,15549,55968,8301,25652,6742
80,0500000US02130,02130,"Ketchikan Gateway Borough, Alaska",37821,1814,60404,4420,62407,6361,62202,...,60500,12888,39853,6868,33125,13461,50217,3173,17279,5169
81,0500000US02150,02150,"Kodiak Island Borough, Alaska",33878,3893,51909,2763,56913,6638,60833,...,46437,1332,23396,3485,22538,2250,42083,20484,17625,6790
82,0500000US02158,02158,"Kusilvak Census Area, Alaska",20840,1530,30292,4626,39219,4164,39531,...,20682,4896,18262,1876,19563,10409,19000,6874,16154,7134
83,0500000US02164,02164,"Lake and Peninsula Borough, Alaska",25375,7925,35375,7455,31250,18941,32500,...,80655,42846,16683,5599,23281,9370,35625,41590,15568,14533
84,0500000US02170,02170,"Matanuska-Susitna Borough, Alaska",42156,1073,59026,2935,61260,4392,65121,...,60993,5772,39534,4863,44734,7254,36066,7278,23871,5741
85,0500000US02180,02180,"Nome Census Area, Alaska",31737,1412,51185,2302,60326,5738,60761,...,51719,13248,22396,3834,21500,4687,26389,8147,23958,13115
86,0500000US02185,02185,"North Slope Borough, Alaska",67078,5707,86667,15558,112500,29003,122143,...,85938,14989,53333,21799,71944,31821,34432,17686,37614,21954
87,0500000US02188,02188,"Northwest Arctic Borough, Alaska",38618,4415,56442,5996,61667,4686,62955,...,82750,5337,27188,10121,28750,13310,49375,49478,19500,9449
88,0500000US02195,02195,"Petersburg Borough, Alaska",35893,5550,60644,5549,62237,11145,60789,...,58438,6804,19091,9131,18015,7274,41250,22871,19000,17773
89,0500000US02198,02198,"Prince of Wales-Hyder Census Area, Alaska",31144,1664,50379,3483,48393,5881,47500,...,55962,2595,23906,5734,25694,5737,35000,13746,12266,5339
90,0500000US02220,02220,"Sitka City and Borough, Alaska",40000,2881,54113,4257,53321,3747,53750,...,76250,26561,22217,5282,21094,10376,30179,11659,21429,10789
91,0500000US02230,02230,"Skagway Municipality, Alaska",39625,9136,62500,7784,63077,4810,63317,...,71250,9283,33654,17193,31683,8157,51500,3643,33350,22129
92,0500000US02240,02240,"Southeast Fairbanks Census Area, Alaska",45500,8639,59363,4051,71736,12437,66250,...,54125,15424,21944,20485,61250,75016,35048,10148,9280,1788
93,0500000US02261,02261,"Valdez-Cordova Census Area, Alaska",40964,6915,69872,8931,73578,8678,79049,...,77396,21306,51750,27980,66250,65839,45208,38224,51250,54680
94,0500000US02275,02275,"Wrangell City and Borough, Alaska",33214,6614,56818,8992,61375,6832,63611,...,65703,6413,33571,10169,35833,13312,34286,11465,10000,9593
95,0500000US02282,02282,"Yakutat City and Borough, Alaska",35865,5428,49792,20718,47813,8668,49063,...,54375,19869,20982,6893,20536,9491,-,**,23750,11476
96,0500000US02290,02290,"Yukon-Koyukuk Census Area, Alaska",27170,1816,34350,2254,41071,7746,42857,...,42500,31116,26033,1587,25515,4759,42500,11598,20625,8503
97,0500000US04001,04001,"Apache County, Arizona",30497,1020,42937,1603,49583,6024,51544,...,45250,12157,31903,3000,41973,4310,23566,6729,19423,11566
98,0500000US04003,04003,"Cochise County, Arizona",28863,1124,50233,4255,54052,5320,54681,...,40906,4303,23354,2899,25822,7421,28063,5905,12398,3449
99,0500000US04005,04005,"Coconino County, Arizona",27670,1093,43805,2062,47500,3737,49930,...,39960,3326,31464,2759,35225,3550,32382,6822,19010,8294

### Notice the first row is descriptions of the variables

We could manually remove:

In [13]:
df = df.drop(0)
print(df.head(10))
print(df)

            GEO.id GEO.id2         GEO.display-label HD01_VD01 HD02_VD01  \
1   0500000US01001   01001   Autauga County, Alabama     33267      2306
2   0500000US01003   01003   Baldwin County, Alabama     31540       683
3   0500000US01005   01005   Barbour County, Alabama     26575      1653
4   0500000US01007   01007      Bibb County, Alabama     30088      2224
5   0500000US01009   01009    Blount County, Alabama     34900      2063
6   0500000US01011   01011   Bullock County, Alabama     23998      3240
7   0500000US01013   01013    Butler County, Alabama     27434      1994
8   0500000US01015   01015   Calhoun County, Alabama     28183      1501
9   0500000US01017   01017  Chambers County, Alabama     28218      1769
10  0500000US01019   01019  Cherokee County, Alabama     30360      1343

   HD01_VD02 HD02_VD02 HD01_VD03 HD02_VD03 HD01_VD04    ...    HD01_VD32  \
1      48819      1806     55557      4972     63333    ...        31402
2      49524      1811     57150      6980     63422    ...        35603
3      41652      2638     51797      5980     52775    ...        37847
4      40787      2896     50069     12841     67917    ...        45952
5      46593      2963     47003      6189     50991    ...        42489
6      39091      7597     40934      2957     40404    ...         7375
7      42161      2426     42391      4933     42679    ...        33750
8      41933      1225     50217      6332     51559    ...        41326
9      43218      2889     46612      6768     55750    ...        39813
10     42276      4464     40775      2431     40262    ...        41611

   HD02_VD32 HD01_VD33 HD02_VD33 HD01_VD34 HD02_VD34 HD01_VD35 HD02_VD35  \
1       5135     35594      3034     36059      3893     47266     13608
2       3882     30549      1606     29604      4554     35504      6260
3      11189     26094      4884     25339      4900     37282      6017
4       5622     28983      3401     31881      2317     26580      2901
5       7176     32969      3767     31814      4551     41375      5280
6      63922     25713      3352     23531      5706     31141       812
7      10894     28325      3165     28052      5498     31875      8159
8       3530     30350      1339     31070      1923     33767      4428
9      13914     27420      2418     29778      2885     32386     21812
10      7769     30059      2637     32083      5888     29063     13421

   HD01_VD36 HD02_VD36
1      19076      4808
2      24182      3580
3      16607      3497
4      23479      4942
5      26755      2963
6      25380      6312
7      26534      1235
8      23595      4747
9      22048      1658
10     19569      5858

[10 rows x 75 columns]
            GEO.id GEO.id2                          GEO.display-label  \
1   0500000US01001   01001                    Autauga County, Alabama
2   0500000US01003   01003                    Baldwin County, Alabama
3   0500000US01005   01005                    Barbour County, Alabama
4   0500000US01007   01007                       Bibb County, Alabama
5   0500000US01009   01009                     Blount County, Alabama
6   0500000US01011   01011                    Bullock County, Alabama
7   0500000US01013   01013                     Butler County, Alabama
8   0500000US01015   01015                    Calhoun County, Alabama
9   0500000US01017   01017                   Chambers County, Alabama
10  0500000US01019   01019                   Cherokee County, Alabama
11  0500000US01021   01021                    Chilton County, Alabama
12  0500000US01023   01023                    Choctaw County, Alabama
13  0500000US01025   01025                     Clarke County, Alabama
14  0500000US01027   01027                       Clay County, Alabama
15  0500000US01029   01029                   Cleburne County, Alabama
16  0500000US01031   01031                     Coffee County, Alabama
17  0500000US01033   01033                    Colbert County, Alabama
18  0500000US01035   01035                    Conecuh County, Alabama
19  0500000US01037   01037                      Coosa County, Alabama
20  0500000US01039   01039                  Covington County, Alabama
21  0500000US01041   01041                   Crenshaw County, Alabama
22  0500000US01043   01043                    Cullman County, Alabama
23  0500000US01045   01045                       Dale County, Alabama
24  0500000US01047   01047                     Dallas County, Alabama
25  0500000US01049   01049                     DeKalb County, Alabama
26  0500000US01051   01051                     Elmore County, Alabama
27  0500000US01053   01053                   Escambia County, Alabama
28  0500000US01055   01055                     Etowah County, Alabama
29  0500000US01057   01057                    Fayette County, Alabama
30  0500000US01059   01059                   Franklin County, Alabama
..             ...     ...                                        ...
70  0500000US02020   02020             Anchorage Municipality, Alaska
71  0500000US02050   02050                 Bethel Census Area, Alaska
72  0500000US02060   02060                Bristol Bay Borough, Alaska
73  0500000US02068   02068                     Denali Borough, Alaska
74  0500000US02070   02070             Dillingham Census Area, Alaska
75  0500000US02090   02090       Fairbanks North Star Borough, Alaska
76  0500000US02100   02100                     Haines Borough, Alaska
77  0500000US02105   02105          Hoonah-Angoon Census Area, Alaska
78  0500000US02110   02110            Juneau City and Borough, Alaska
79  0500000US02122   02122            Kenai Peninsula Borough, Alaska
80  0500000US02130   02130          Ketchikan Gateway Borough, Alaska
81  0500000US02150   02150              Kodiak Island Borough, Alaska
82  0500000US02158   02158               Kusilvak Census Area, Alaska
83  0500000US02164   02164         Lake and Peninsula Borough, Alaska
84  0500000US02170   02170          Matanuska-Susitna Borough, Alaska
85  0500000US02180   02180                   Nome Census Area, Alaska
86  0500000US02185   02185                North Slope Borough, Alaska
87  0500000US02188   02188           Northwest Arctic Borough, Alaska
88  0500000US02195   02195                 Petersburg Borough, Alaska
89  0500000US02198   02198  Prince of Wales-Hyder Census Area, Alaska
90  0500000US02220   02220             Sitka City and Borough, Alaska
91  0500000US02230   02230               Skagway Municipality, Alaska
92  0500000US02240   02240    Southeast Fairbanks Census Area, Alaska
93  0500000US02261   02261         Valdez-Cordova Census Area, Alaska
94  0500000US02275   02275          Wrangell City and Borough, Alaska
95  0500000US02282   02282           Yakutat City and Borough, Alaska
96  0500000US02290   02290          Yukon-Koyukuk Census Area, Alaska
97  0500000US04001   04001                     Apache County, Arizona
98  0500000US04003   04003                    Cochise County, Arizona
99  0500000US04005   04005                   Coconino County, Arizona

   HD01_VD01 HD02_VD01 HD01_VD02 HD02_VD02 HD01_VD03 HD02_VD03 HD01_VD04  \
1      33267      2306     48819      1806     55557      4972     63333
2      31540       683     49524      1811     57150      6980     63422
3      26575      1653     41652      2638     51797      5980     52775
4      30088      2224     40787      2896     50069     12841     67917
5      34900      2063     46593      2963     47003      6189     50991
6      23998      3240     39091      7597     40934      2957     40404
7      27434      1994     42161      2426     42391      4933     42679
8      28183      1501     41933      1225     50217      6332     51559
9      28218      1769     43218      2889     46612      6768     55750
10     30360      1343     42276      4464     40775      2431     40262
11     30459      1455     44944      3858     53438      7824     58322
12     31245      1907     42688      4531     61597     16257     63750
13     32238      2377     47327      4856     54398     18482     62250
14     24936      1635     38817      7377     49028     10346     56581
15     29499      2701     41642      3229     41905     15388     42440
16     28493      1552     46653      3981     44385      7916     37639
17     30681      1252     48007      2873     50107      8004     55211
18     26789      2714     42313      7043     42188     12294     46250
19     26003      1950     49412     14179     52083     28660     50972
20     28965      1815     45058      4659     51170      2942     52689
21     29167      1813     41935      2255     52717      5526     56964
22     30131      1298     41943      2283     48299      5531     50729
23     27630      1604     41372      2008     41940      6939     39600
24     25007      1487     38495      4199     40804      8421     43558
25     26303       731     44517      3139     46293      5760     47123
26     34683      1772     49731      2039     52093      3131     53085
27     27763      2425     41532      1395     47024      6458     42833
28     27740      1278     44688      2512     50773      3228     51616
29     30288      2425     42433      3317     55766      7111     56688
30     25428      1535     41511      3595     47398     12588     51316
..       ...       ...       ...       ...       ...       ...       ...
70     42694      1003     63475      1460     70367      2738     73498
71     31454      1497     47902      6419     50324     10122     45972
72     50302      4801     63625      5526     80000     13776     79375
73     37348     10413     57333     16089     63240     10948     62959
74     37563      6032     51313      2631     69375     16997     62500
75     41171      1185     53562      3228     66303      7620     72610
76     30778      7802     57633      5230     61806     19034     51667
77     32500      5469     49125     11998     50795     12745     51818
78     46911      2217     61875      2552     65989      2541     72468
79     38985      2486     52710      4690     58963      6558     60799
80     37821      1814     60404      4420     62407      6361     62202
81     33878      3893     51909      2763     56913      6638     60833
82     20840      1530     30292      4626     39219      4164     39531
83     25375      7925     35375      7455     31250     18941     32500
84     42156      1073     59026      2935     61260      4392     65121
85     31737      1412     51185      2302     60326      5738     60761
86     67078      5707     86667     15558    112500     29003    122143
87     38618      4415     56442      5996     61667      4686     62955
88     35893      5550     60644      5549     62237     11145     60789
89     31144      1664     50379      3483     48393      5881     47500
90     40000      2881     54113      4257     53321      3747     53750
91     39625      9136     62500      7784     63077      4810     63317
92     45500      8639     59363      4051     71736     12437     66250
93     40964      6915     69872      8931     73578      8678     79049
94     33214      6614     56818      8992     61375      6832     63611
95     35865      5428     49792     20718     47813      8668     49063
96     27170      1816     34350      2254     41071      7746     42857
97     30497      1020     42937      1603     49583      6024     51544
98     28863      1124     50233      4255     54052      5320     54681
99     27670      1093     43805      2062     47500      3737     49930

      ...    HD01_VD32 HD02_VD32 HD01_VD33 HD02_VD33 HD01_VD34 HD02_VD34  \
1     ...        31402      5135     35594      3034     36059      3893
2     ...        35603      3882     30549      1606     29604      4554
3     ...        37847     11189     26094      4884     25339      4900
4     ...        45952      5622     28983      3401     31881      2317
5     ...        42489      7176     32969      3767     31814      4551
6     ...         7375     63922     25713      3352     23531      5706
7     ...        33750     10894     28325      3165     28052      5498
8     ...        41326      3530     30350      1339     31070      1923
9     ...        39813     13914     27420      2418     29778      2885
10    ...        41611      7769     30059      2637     32083      5888
11    ...        41016      5565     29127      3878     29690      6561
12    ...        60313     36485     38869      8972     58155     12487
13    ...        66019      9401     37093      6350     46957     13002
14    ...        41424     11519     24393      2408     24301      3094
15    ...        40854      9316     32191      4700     35625      6136
16    ...        54101      4713     26929      1515     25255      5007
17    ...        45363      5031     30298      2695     31674      6220
18    ...        52024      7420     32386      5403     32740      8101
19    ...        35938     29596     25724      3631     25668      3226
20    ...        40540      3233     27273      2372     26703      2176
21    ...        36711     10260     28149      4053     30529      1775
22    ...        38929      5058     30362      3194     30209      5277
23    ...        52066      6526     26701      2365     24359      2680
24    ...        44203      6408     21925      2048     22402      3558
25    ...        36817      3299     26144      1180     26344      1354
26    ...        40726      3369     33352      4358     38300      5918
27    ...        37833     19664     31124      1351     30794      3282
28    ...        37233      3078     27161      1888     27019      2520
29    ...        39911     14941     32424      5624     31088      7824
30    ...        33911      5601     25892      2846     26981      5679
..    ...          ...       ...       ...       ...       ...       ...
70    ...        50208      3722     39084      2905     35577      7324
71    ...        50781      7751     26582      3316     21500      7626
72    ...        78125     19099     55000     14623     69688     11399
73    ...        65625     40647     56500     38403     93636     22953
74    ...        46250     23262     46563     22751     65398     43922
75    ...        67127      4362     35837      6863     36742     13496
76    ...        25469     47253     19211    104835     83505     40590
77    ...        71111     62438     18125     12868     14712     23300
78    ...        52228      9304     32072      7408     30898      8378
79    ...        53971     13454     40971      8777     34597     15549
80    ...        60500     12888     39853      6868     33125     13461
81    ...        46437      1332     23396      3485     22538      2250
82    ...        20682      4896     18262      1876     19563     10409
83    ...        80655     42846     16683      5599     23281      9370
84    ...        60993      5772     39534      4863     44734      7254
85    ...        51719     13248     22396      3834     21500      4687
86    ...        85938     14989     53333     21799     71944     31821
87    ...        82750      5337     27188     10121     28750     13310
88    ...        58438      6804     19091      9131     18015      7274
89    ...        55962      2595     23906      5734     25694      5737
90    ...        76250     26561     22217      5282     21094     10376
91    ...        71250      9283     33654     17193     31683      8157
92    ...        54125     15424     21944     20485     61250     75016
93    ...        77396     21306     51750     27980     66250     65839
94    ...        65703      6413     33571     10169     35833     13312
95    ...        54375     19869     20982      6893     20536      9491
96    ...        42500     31116     26033      1587     25515      4759
97    ...        45250     12157     31903      3000     41973      4310
98    ...        40906      4303     23354      2899     25822      7421
99    ...        39960      3326     31464      2759     35225      3550

   HD01_VD35 HD02_VD35 HD01_VD36 HD02_VD36
1      47266     13608     19076      4808
2      35504      6260     24182      3580
3      37282      6017     16607      3497
4      26580      2901     23479      4942
5      41375      5280     26755      2963
6      31141       812     25380      6312
7      31875      8159     26534      1235
8      33767      4428     23595      4747
9      32386     21812     22048      1658
10     29063     13421     19569      5858
11     31379     11419     23924      1258
12     21797      8548     26000      6124
13     33066     10081     29828      5436
14     26210      9909     23566      5360
15     31705     18424     26413      5856
16     45264     11791     23923      2476
17     36754      5109     25000      5584
18     39583      8458     30466     10012
19     38250      9547     21993      4706
20     33750      7875     20132      7491
21     30269      8524     12368      8547
22     31637      4022     27987      4679
23     35935      2521     20036      5067
24     22283     11633     18634      4654
25     33144      7971     22083      1685
26     36444      6589     24333      8322
27     33413      9079     30321     10406
28     38958      7464     23020      2782
29     46333     15718     27083      8487
30     30114     12053     21346      3047
..       ...       ...       ...       ...
70     45013      4130     29485      3829
71     34375     10258     12361      5525
72     50938     15868     48750     40342
73     22273     24709     82143     21310
74     34250     24318     17500     12653
75     50084     12660     20516      8226
76     72583     28431      5682     13318
77     33125     29654      7000      5617
78     40326     16723     24095      8781
79     55968      8301     25652      6742
80     50217      3173     17279      5169
81     42083     20484     17625      6790
82     19000      6874     16154      7134
83     35625     41590     15568     14533
84     36066      7278     23871      5741
85     26389      8147     23958     13115
86     34432     17686     37614     21954
87     49375     49478     19500      9449
88     41250     22871     19000     17773
89     35000     13746     12266      5339
90     30179     11659     21429     10789
91     51500      3643     33350     22129
92     35048     10148      9280      1788
93     45208     38224     51250     54680
94     34286     11465     10000      9593
95         -        **     23750     11476
96     42500     11598     20625      8503
97     23566      6729     19423     11566
98     28063      5905     12398      3449
99     32382      6822     19010      8294

[99 rows x 75 columns]

Or if we knew from the start, we could use the skiprows argument:

In [14]:
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', skiprows=1, nrows=100)
df.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, science, and arts occupations:","Margin of Error; Total: - Management, business, science, and arts occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Margin of Error; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations: - Management occupations",...,"Estimate; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Margin of Error; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Estimate; Total: - Production, transportation, and material moving occupations:","Margin of Error; Total: - Production, transportation, and material moving occupations:","Estimate; Total: - Production, transportation, and material moving occupations: - Production occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Production occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Material moving occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Material moving occupations"
0,0500000US01001,1001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
1,0500000US01003,1003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
2,0500000US01005,1005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
3,0500000US01007,1007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
4,0500000US01009,1009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963

## Header

Relatedly to skiprows is the header option. This specifies the row where column names are and starts the load from that point:

In [15]:
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', header=1)
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 2: invalid continuation byte

## Encoding

Encoding errors like the one above are always frustrating. This has to do with how the strings within the file itself are formatted. The most common encoding other than `utf-8` that you are likely to come across is `latin-1`.

In [16]:
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', header=1, encoding='latin-1')
df.head()

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Management, business, science, and arts occupations:","Margin of Error; Total: - Management, business, science, and arts occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Margin of Error; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations:","Estimate; Total: - Management, business, science, and arts occupations: - Management, business, and financial occupations: - Management occupations",...,"Estimate; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Margin of Error; Total: - Natural resources, construction, and maintenance occupations: - Installation, maintenance, and repair occupations","Estimate; Total: - Production, transportation, and material moving occupations:","Margin of Error; Total: - Production, transportation, and material moving occupations:","Estimate; Total: - Production, transportation, and material moving occupations: - Production occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Production occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Transportation occupations","Estimate; Total: - Production, transportation, and material moving occupations: - Material moving occupations","Margin of Error; Total: - Production, transportation, and material moving occupations: - Material moving occupations"
0,0500000US01001,1001,"Autauga County, Alabama",33267,2306,48819,1806,55557,4972,63333,...,31402,5135,35594,3034,36059,3893,47266,13608,19076,4808
1,0500000US01003,1003,"Baldwin County, Alabama",31540,683,49524,1811,57150,6980,63422,...,35603,3882,30549,1606,29604,4554,35504,6260,24182,3580
2,0500000US01005,1005,"Barbour County, Alabama",26575,1653,41652,2638,51797,5980,52775,...,37847,11189,26094,4884,25339,4900,37282,6017,16607,3497
3,0500000US01007,1007,"Bibb County, Alabama",30088,2224,40787,2896,50069,12841,67917,...,45952,5622,28983,3401,31881,2317,26580,2901,23479,4942
4,0500000US01009,1009,"Blount County, Alabama",34900,2063,46593,2963,47003,6189,50991,...,42489,7176,32969,3767,31814,4551,41375,5280,26755,2963

## Selecting Specific Columns  

You can also specify specific columns if you only want to load specific features.

In [17]:
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', usecols=[0,1,2,5,6], encoding='latin-1')
df.head(2)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD02,HD02_VD02
0,Id,Id2,Geography,"Estimate; Total: - Management, business, scien...","Margin of Error; Total: - Management, business..."
1,0500000US01001,01001,"Autauga County, Alabama",48819,1806

## Or

In [9]:
df = pd.read_csv('Data/ACS_16_5YR_B24011_with_ann.csv', usecols=['GEO.id', 'GEO.id2'], encoding='latin-1')
df.head(2)

           GEO.id GEO.id2
0              Id     Id2
1  0500000US01001   01001

## Selecting Specific Sheets
You can also specify specific sheets for Excel files!

In [18]:
import pandas as pd

This can be done by index number

In [19]:
df1 = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx')
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,RESDUcs7fIiihp38-d6_6g,0,2015-09-16,0,gkcPdbblTvZDMSwx8nVEKw,5,Got here early on football Sunday 7:30am as I ...,0,SKteB5rgDlkkUa1Zxe1N0Q
2,RESDUcs7fIiihp38-d6_6g,0,2017-09-09,0,mQfl6ci46mu0xaZrkRUhlA,5,"This buffet is amazing. Yes, it is expensive,...",0,f638AHA_GoHbyDB7VFMz7A
3,RESDUcs7fIiihp38-d6_6g,0,2013-01-14,0,EJ7DJ8bm7-2PLFB9WKx4LQ,3,I was really looking forward to this but it wa...,0,-wVPuTiIEG85LwTK46Prpw
4,RESDUcs7fIiihp38-d6_6g,0,2017-02-08,0,lMarDJDg4-e_0YoJOKJoWA,2,This place....lol our server was nice. But fo...,0,A21zMqdN76ueLZFpmbue0Q

In [21]:
df2 = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', sheet_name=2)
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,YJ8ljUhLsz6CtT_2ORNFmg,1,2013-04-25,0,xgUz0Ck4_ciNaeIk-H8GBQ,5,I loved this place. Easily the most hipsters p...,1,6cpo8iqgnW3jnozhmY7eAA
2,YJ8ljUhLsz6CtT_2ORNFmg,0,2014-07-07,0,Au7MG4QlAxqq9meyKSQmaw,5,So my boyfriend and I came here for my birthda...,0,8bFE3u1dMoYXkS7ORqlssw
3,YJ8ljUhLsz6CtT_2ORNFmg,0,2015-12-04,0,8IQnZ54nenXjlK-FGZ82Bg,5,I really enjoyed their food. Went there for th...,1,bJmE1ms0MyZ6KHjmfZDWGw
4,YJ8ljUhLsz6CtT_2ORNFmg,2,2016-07-06,1,XY42LMhKoXzwtLoku4mvLA,5,A complete Vegas experience. We arrived right ...,3,PbccpC-I-8rxzF2bCDh8YA

Or the name of the sheet itself

In [13]:
df = pd.read_excel('Data/Yelp_Selected_Businesses.xlsx', sheet_name='Biz_id_RESDU')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,RESDUcs7fIiihp38-d6_6g,0,2015-09-16,0,gkcPdbblTvZDMSwx8nVEKw,5,Got here early on football Sunday 7:30am as I ...,0,SKteB5rgDlkkUa1Zxe1N0Q
2,RESDUcs7fIiihp38-d6_6g,0,2017-09-09,0,mQfl6ci46mu0xaZrkRUhlA,5,"This buffet is amazing. Yes, it is expensive,...",0,f638AHA_GoHbyDB7VFMz7A
3,RESDUcs7fIiihp38-d6_6g,0,2013-01-14,0,EJ7DJ8bm7-2PLFB9WKx4LQ,3,I was really looking forward to this but it wa...,0,-wVPuTiIEG85LwTK46Prpw
4,RESDUcs7fIiihp38-d6_6g,0,2017-02-08,0,lMarDJDg4-e_0YoJOKJoWA,2,This place....lol our server was nice. But fo...,0,A21zMqdN76ueLZFpmbue0Q

## Loading a Full Workbook and Previewing Sheet Names
You can also load an entire excel workbook (which is a collection of spreadsheets) with the `pd.ExcelFile()` method.

In [22]:
workbook = pd.ExcelFile('Data/Yelp_Selected_Businesses.xlsx')
workbook.sheet_names

['Biz_id_RESDU',
 'Biz_id_4JNXU',
 'Biz_id_YJ8lj',
 'Biz_id_ujHia',
 'Biz_id_na4Th']

In [23]:
df = workbook.parse(sheet_name=1)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,4JNXUYY8wbaaDmk3BPzlWw,0,2012-06-10,0,wl8BO_I-is-JaMwMW5c_gQ,4,I booked a table here for brunch and it did no...,0,fo4mpUqgXL2mJqALc9AvbA
2,4JNXUYY8wbaaDmk3BPzlWw,0,2012-01-20,0,cf9RrqHY9eQ9M53OPyXLtg,4,Came here for lunch after a long night of part...,0,TVvTtXwPXsvrg2KJGoOUTg
3,4JNXUYY8wbaaDmk3BPzlWw,0,2017-05-10,0,BvmhSQ6WFm2Jxu01G8OpdQ,5,Loved the fried goat cheese in tomato sauce al...,0,etbAVunw-4kwr6VTRweZpA
4,4JNXUYY8wbaaDmk3BPzlWw,0,2014-05-03,0,IoKp9n1489XohTV_-EJ0IQ,5,"Love the outdoor atmosphere. Price was right, ...",0,vKXux2Xx3xcicTgYZoR0pg

## Saving Data
Once we have data loaded that we may want to export back out, we use the **`.to_csv()`** or **`.to_excel()`** methods of any dataframe object.

In [24]:
df.to_csv('NewSavedView.csv', index=False) #Notice how we have to pass index=False if we do not want it included in our output

In [25]:
df.to_excel('NewSavedView.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

## Summary

We've spent some time looking into how data importing with Pandas works and some of the methods you can use to manage the import and access the data. In the next lesson, lets get some hands on practice!